<html>
  <head>
    <title>EPIC Rap Battle Generator</title>
  </head>
  <body>
    <header>
      <h1>EPIC Rap Battle Generator</h1>
    </header>
    <div class="front">
      <h2>Want an EPIC rap battle? You got it!</h2>
      <hr>
      <h3>Name your fighters!!!</h3>
    </div>
    <div class="text-form">
      <form method="post">
        <textarea name="prompt"></textarea>
        <p><input type=submit value="get response">
      </form>
    </div>
    <div class="container">
      <table>
        <thead>
          <tr>
            <th> Time </th>
            <th> Battlers </th>
            <th> Response </th>
            <th> </th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <% items.forEach(item => { %>
            <tr>
              <td> <%= item.createdAt %> </td>
              <td> <%= item.requests %> </td>
              <td> <%= item.answer.slice(0, 15) + '...' %> </td>
              <td> <a href="/rap/result/<%= item._id %>">Details</a> </td>
              <td> <a href="/rap/remove/<%= item._id %>">Remove</a> </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
  </body>
</html>